<div style="text-align:center">
  <h1>
    Aplikacja sprawdzająca lokalizację przeglądarki
  </h1>
</div>
<!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2 class="men">Here are some links to help you start: </h2>-->
<!--<div class="col-md-12">-->
<!--<button class="btn btn-primary">Hello</button>-->
<!--</div>-->
<div class="col-md-12">
  <mat-card>
    <mat-card-title>Lista lokalizacji</mat-card-title>
    <button mat-raised-button color="primary" [disabled]="coordinates.length == 0" (click)="openModal()">Aktualna lokalizacja</button>
    <mat-card-content>
      <div *ngIf="coordinates.length == 0">
        Brak zapisancyh lokalizacji
      </div>
      <div *ngIf="coordinates.length > 0">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Szerokość geograficzna</th>
            <th scope="col">Długość geograficzna</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of coordinates; let i = index">
            <th scope="row">{{i +1}}</th>
            <td>{{c.date | date: 'dd-MM-yyyy HH:mm'}}</td>
            <td>{{c.lat | number}}`N</td>
            <td>{{c.lon | number}}`E</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
